@model CodeParts.Data.TableModel.CodeDb
@{
    ViewData["Title"] = "one Code";
}
<h1>@ViewData["Title"]</h1>

<p>welcome</p>

<h3>@Model.title</h3>
<p>@Model.content</p>
<p>@Model.accountLogin</p>
<p>@Model.tags</p>

<h5>
    @if (User.Identity.Name == Model.accountLogin)
    {
        <a asp-controller="Code" asp-action="Delete" asp-route-id="@Model.id" asp-route-login="@Model.accountLogin">Delete</a>
    }
</h5>
<br />